# Logistic Regression

In [1]:
import warnings
warnings.filterwarnings(action="ignore")

# Import required packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df=pd.read_csv('hearing_test.csv')
df.head()

    age  physical_score  test_result
0  33.0            40.7            1
1  50.0            37.2            1
2  52.0            24.7            0
3  56.0            31.0            0
4  35.0            42.9            1

In [9]:
df.describe()

               age  physical_score  test_result
count  5000.000000     5000.000000  5000.000000
mean     51.609000       32.760260     0.600000
std      11.287001        8.169802     0.489947
min      18.000000       -0.000000     0.000000
25%      43.000000       26.700000     0.000000
50%      51.000000       35.300000     1.000000
75%      60.000000       38.900000     1.000000
max      90.000000       50.000000     1.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             5000 non-null   float64
 1   physical_score  5000 non-null   float64
 2   test_result     5000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 117.3 KB

age               0
physical_score    0
test_result       0
dtype: int64

In [11]:
df.isna().sum()

age               0
physical_score    0
test_result       0
dtype: int64

In [17]:
df.corr()

                     age  physical_score  test_result
age             1.000000       -0.782146    -0.683171
physical_score -0.782146        1.000000     0.792716
test_result    -0.683171        0.792716     1.000000

In [19]:
x=df.drop('test_result',axis=1)

In [20]:
y=df['test_result']

In [21]:
x

       age  physical_score
0     33.0            40.7
1     50.0            37.2
2     52.0            24.7
3     56.0            31.0
4     35.0            42.9
...    ...             ...
4995  73.0             3.9
4996  57.0            33.9
4997  49.0            34.5
4998  38.0            46.4
4999  48.0            38.5

[5000 rows x 2 columns]

In [22]:
y

0       1
1       1
2       0
3       0
4       1
       ..
4995    0
4996    1
4997    1
4998    1
4999    1
Name: test_result, Length: 5000, dtype: int64

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=12345)

In [50]:
print("Training Features:\n", x_train)
print("Testing Features:\n", x_test)
print("Training Target:\n", y_train)
print("Testing Target:\n", y_test)

Training Features:
        age  physical_score
317   54.0            36.6
4143  65.0            19.4
4252  40.0            38.1
710   50.0            28.8
148   71.0            24.8
...    ...             ...
3497  70.0            19.9
3492  57.0            19.2
2177  37.0            34.4
3557  49.0            39.9
4578  33.0            40.2

[4000 rows x 2 columns]
Testing Features:
        age  physical_score
3183  49.0            35.6
1071  42.0            38.1
2640  63.0            27.5
2282  41.0            39.8
1595  37.0            42.0
...    ...             ...
3075  48.0            33.0
1568  36.0            40.0
2752  46.0            40.0
449   37.0            39.8
1938  71.0            26.7

[1000 rows x 2 columns]
Training Target:
 317     1
4143    0
4252    1
710     0
148     0
       ..
3497    0
3492    0
2177    0
3557    1
4578    1
Name: test_result, Length: 4000, dtype: int64
Testing Target:
 3183    1
1071    1
2640    0
2282    1
1595    1
       ..
3075    1
1568    1
2752    1
449     1
1938    0
Name: test_result, Length: 1000, dtype: int64

In [51]:
from sklearn.linear_model import LogisticRegressionCV

In [52]:
model=LogisticRegressionCV()
model.fit(x_train,y_train)

LogisticRegressionCV()

In [53]:
y_pred=model.predict(x_test)

In [54]:
from sklearn.metrics import confusion_matrix

In [55]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[351,  41],
       [ 31, 577]], dtype=int64)

In [56]:
from sklearn.metrics import classification_report

In [58]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      0.90      0.91       392
           1       0.93      0.95      0.94       608

    accuracy                           0.93      1000
   macro avg       0.93      0.92      0.92      1000
weighted avg       0.93      0.93      0.93      1000

In [60]:
predictions=model.predict([[52.0,24.7]])
print(f"Prediction for hearing site: {predictions[0]}")

Prediction for hearing site: 0

In [63]:
import pickle
with open('Hearing_pickle.pkl','wb') as file:
    pickle.dump(model,file)